<%- include('../partials/header') %>

<h1>All Memes</h1>

<% memes.forEach((meme) => { %>
  <div class="meme">
    <h2><%= meme.title %></h2>
    <img src="<%= meme.imageUrl %>" alt="Meme Image">
    <p><%= meme.description %></p>
  </div>
  <div class="button-group">
    <form action="/memes/<%= meme._id %>/updateForm" method="post" class="update-form">
      <button type="submit" class="update-form">Update</button>
    </form>
    <form action="/memes/<%= meme._id %>/delete" method="post" class="delete-form">
      <button type="submit" class="delete-button">Delete</button>
    </form>
  </div>
<% }) %>

<%- include('../partials/footer') %>